body{
    margin: 0  ;
    padding: 0 ;
    box-sizing: border-box;
    background-image: url(../img/Fondo.png);
}

@font-face{
    font-family: "yatraone-regular"; 
    src: url('../font/yatraone-regular.ttf');
}
@font-face{
    font-family: "mallanna-regular";
    src: url("../Font/Mallanna-Regular.ttf");
}
/* ComienzoHeaderPag.principal */
.navbar-nav{
    font-size: 1.2em;
    background-color: rgb(130, 146, 160, .4);
    border-radius: 5px;
    
}
.dropdown-menu{
    font-size: .9em;
    background-color: rgb(130, 146, 160, .4);
    text-align: center;

}
h3{
    margin-top: 20px;
    padding-bottom: 20px;
    font-family: "yatraone-regular";
    font-size: 35px;
    color: aliceblue;
}
.nav-link{
    color: aliceblue;
}

hr { border: none; 
    height: 5px; 
    color: #ebe0e0; 
    background-color: #f0e7e7;
}  

/* FinHeaderPag.principal*/

h1 { 
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: "yatraone-regular";
}
 
p{
    font-family: "mallanna-regular";
    font-size: 20px;
    color: aliceblue;
}
.principal {
    
    margin-top: 1px;
    margin-left: 25%;
    max-width: none;
    text-align: center;
   
}
.aside {
    border-right: 4px solid rgb(209, 0, 0);
    border-radius: 20px;
    padding-top: 20px;
    margin-left: 25px;
    text-align: center;
    max-width: 450px;
    margin-top: -1000px
}
.principal p{
    font-size: 20px;
    color: aliceblue;
    
}  
.principal img{
    width: 600px;

}      
.footer {
    text-align: center;
    margin-top: 50px;
    padding: 5px;
    
}
main  {
    text-align: center;
}
.central{
    align-items: center;
    width: auto;
}
aside {
    margin-top: 50px;
    
}

.asideseries{
    background-color: rgb(72, 77, 77, .6);
    border-radius: 20px;
    margin-bottom: 20px;
}
.asideseries h3{
    text-align: center;
    color: rgb(218, 137, 70);
    padding-bottom: 20px;
    

}
.asideseries ul li{
    list-style: none;
    font-family: "mallanna-regular";
    font-size: 20px;
    color: aliceblue;
}
table, th, td{
    margin: auto;
    border: 2px solid rgb(0, 0, 0);
    border-collapse: collapse;
    border-spacing: 2px;
   
        
}
th{
    color: aliceblue;
    background-color: rgb(48, 45, 45)
    
    
}
td{
    color: rgb(240, 97, 97);
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
table{
   caption-side: bottom;
}
caption{
    color: aliceblue;
    padding-top: 20px;
    font-style:italic;
}
.img-series{

     background-color: rgb(72, 77, 77, .6);
     border-radius: 20px;
     display: flex;
     flex-direction:row;
     flex-wrap: wrap;
     justify-content: space-evenly;
     align-items: center;
     

}
.img-series img{
    margin: 50px auto;;
     border:2px solid white
}

 
.formulario {
    margin-right: auto;
    margin-left: auto; 
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6);
    width: 400px
      
}
